body {
	margin: 0;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
	text-decoration: none;
}

#world-map {
	width: 80%; 
	height: 600px;
	float: left;
}

#nav {
	width: 19.5%; 
	height: 600px;
	float: left;
	overflow-y: scroll;
}

#nav {
	padding: 0;
	margin: 0;
}

#nav li:nth-child(even) {
	background-color: #C5E1F9;
}
#nav li:nth-child(odd) {
	background-color: #7EBDF2;
}

#nav li {
	display: block;
	background-color: #5B92E5;
	border-bottom: 1px solid #fff;
}

footer {
	clear: both;
	border-top: 5px solid #F1C62F;
}

#nav {
	border-right: 5px solid #F1C62F;
}

.undp_link {
	height: 100px;
	width: 20%;
	float: left;
}

.footab {
	background: url(images/undp.jpg) center no-repeat;
	background-size: 90px;
}

.footext {
	text-align: center;
	display: none;
	position: relative;
	background-color: #5B92E5;
}

.footext .text_tag {
	height: 100%;
	color: #fff;
	height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.cat_wrapper {
	width: 80%;
	height: 100px;
	float: left;
	position: relative;
}

.cat_title {
	height: 50px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	font-size: 50px;
	color: #F1C62F;
}