body {
	height: 100%;
	min-width: 400px;
	min-height: 400px;
	margin: 0;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

a {
	text-decoration: none;
}

#world-map {
	width: 80%;
	min-width: 200px; 
	height: 600px;
	float: left;
	border-right: 9px solid #F1C62F;
}

#nav {
	border-right: 5px solid #F1C62F;
	width: 19%;
	min-width: 95px; 
	height: 600px;
	float: left;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-size: 14px;
}

#nav li span {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px solid #ccc;
}

#nav li {
	display: block;
	background-color: #7EBDF2;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	padding: 10px;
	text-align: center
}

.description_box {
	text-align: left;
	padding: 10px;
	color: #333;
	display: none;
	font-size: 14px;
}

#nav li.active_data_set {
	background-color: #F8C768;
	color: #fff;
}

.foobar {
	clear: both;
	border-top: 5px solid #F1C62F;
}

.foobar .footab.undp_link {
	background: url(images/undp.jpg) center no-repeat;
	background-size: 80px;
}

.foobar .footab.read_report {
	background: url(images/report-icon.png) center no-repeat;
	background-size: 80px;
} 

.foobar .lang_1.footab {
	background: url(images/France.png) center no-repeat;
	background-size: 80px;
} 

.foobar .lang_2.footab {
	background: url(images/Spain.png) center no-repeat;
	background-size: 80px;
}

.foobar .lang_3.footab {
	background: url(images/UK.png) center no-repeat;
	background-size: 80px;
} 

.footext {
	background-color: #F8C768;
}

.footab, .footext {
	width: 25%;
	height: 100px;
	float: left;
	position: relative;
}

.foobar .footext {
	text-align: center;
	font-size: 20px;
	font-variant: small-caps;
	display: none;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.foobar .footext .text_tag {
	height: 20px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.cat_title {
	margin: auto;
	position: absolute;
	top: 540px; right: 50px;
	text-align: center;
	font-size: 40px;
	color: #112F61;
	font-weight: bold;
	z-index: 250;
}

.lightbox {
	position: fixed;
	top: 0; right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 250;
}

.lightbox_mask {
	display: none;
}

.lightbox .escape {
	border-radius: 50%;
	cursor: pointer;
	height: 40px;
	width: 40px;
	font-size: 40px;
	text-align: center;
	z-index: 1000;
	position: absolute;
	top: 10px;
	left: 10px;
}

.lightbox .loading{
	font-size: 40px;
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: -1;
}

.langform {
	display: none;
}